table#myTable {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    border: 1px solid;
}
tr.header {
    background: aquamarine;
    color: black;
    font-size: 20px;
       
}
.page-center {
    max-width: 1200px;
    width: 100% !important;
    float: none !important;
    margin: 0px auto !important;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}
.search input {
    font-size: 18px;
    padding: 5px;
    width: 50%;
}
.search {
    padding-bottom: 20px;
}
td {
    border: 1px solid;
}